<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insight-edge</title>
    <h1> Welcome to Insight-edge</h1>
    <div>Introduction
        <h4>The Challange</h4>

        <p>Small businesses are the backbone of our economy, but they face significant challenges:
</p>

<ul>
    
    <li>

        Limited access to actionable insights : They lack the resources to analyze valuable data.
    </li>
        
    <li>
        They lack the resources to analyze valuable data.
    </li>
    <li>
        Competitors’ data-driven advantage: Larger players leverage advanced analytics to dominate, leaving small businesses struggling to compete.
    </li>
            
    
    <p>These barriers stifle growth, innovation, and competitiveness for small businesses.</p>
</div>
</ul>

</head>
<body>
    
</body>
</html>