<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/static/css/style.css" />
    <script defer src="/frontend/static/js/script.js"></script>

    <title>Insights Edge</title>
  </head>
  <body>
    <nav class="nav-blur">
      <div class="nav-container">
        <div class="logo">
          <svg class="logo-icon" width="32" height="32" viewBox="0 0 32 32">
            <path fill="currentColor" d="M16 0L32 8v16L16 32 0 24V8L16 0z" />
          </svg>
          <span>InsightsEdge</span>
        </div>
        <div class="nav-links">
          <a href="#vision">Vision</a>
          <a href="#features">Features</a>
          <a href="#process">Process</a>
          <a href="#benefits">Benefits</a>
        </div>
      </div>
    </nav>
  </body>
</html>
